.page-header
  %h1 Admin - Stores
.row
  .s3.l3
    = button_to "Add New LS Stores", { action: "get_ls_stores" }, method: :get, class: "btn btn-success"
  .s3.l3
    = button_to "Add New PJ Stores", { action: "get_pj_stores" }, method: :get, class: "btn btn-success"
%h1
  = @store_count
  Total Stores
%table.table.table-condensed
  %tr
    %th Name
    %th Store ID
    %th Description
    %th Home Page URL
    %th Store Img
    %th Commission
  = render partial: 'admin/shared/store', locals: { stores: @stores }