-provide(:title, 'Welcome to ZUUZLO Coupons | Store Name')
.container
  .page-header
    %h1 Store Name
  .row
    .l4.s4
      %p Ink.com a leader in online ink products has been in business over 12 years & is ready to pay you 28% commission on ANY purchase! FREE shipping on orders over $55 & a satisfaction guarantee ensures your consumers ink purchases will be the right one!
      %p 
        Get 
        %b 5%
        Cash back from Zuuzlo for your purchases from
        Store Name.

    .l4.s4
      %img{'data-src' => "holder.js/250x250" }
    .l4.l4
      %img{'data-src' => "holder.js/250x250" }
  %br
  .row
    .l12.s12
      .panel.panel-default
        .panel-heading
          %h3.panel-title Store Name
        .panel-body
          .row
          -6.times do
            .l4.s4
              .thumbnail
                %img{'data-src' => "holder.js/120x40" }
                .caption.coupon
                  %h4 Coupon Name
                  %h5 Store
                  %h5 Description:
                  %p Get jeans for $10 off.
                  %a.btn.btn-primary(href='#') Get Deal 
                  %span.label.label-success Expires in 3 days